@import url("https://fonts.cdnfonts.com/css/devil-breeze");
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/bimbo");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Rubik+Wet+Paint&display=swap");
nav.navbar {
  background-color: #cccccc;
  font: 400 clamp(1rem, 2vw, 1.2rem)/1.5rem Roboto, sans-serif;
}

body {
  margin: 0;
  background-color: #1B1B1B;
  color: #cccccc;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0;
}

.section#banner {
  position: relative;
}
.section#banner .title_block {
  position: absolute;
  top: 37%;
  left: 31%;
  transform: translate(-50%, -50%);
}
.section#banner .title_block .title {
  color: #cccccc;
  font: 800 clamp(8rem, 7vw, 11rem) "Rubik";
}
.section#banner .title_block .progress-container {
  position: relative;
  display: inline-block;
}
.section#banner .title_block .progress-ring {
  position: absolute;
  top: 32px;
  left: 32px;
  transform: rotate(-90deg);
}
.section#banner .title_block .progress-ring__circle {
  fill: transparent;
  stroke: #a1a1a1;
  stroke-width: 5;
  stroke-dasharray: 440; /* Adjust based on the circumference */
  stroke-dashoffset: 440; /* Full circle to start */
  transition: stroke-dashoffset 0.3s;
}
.section#banner .title_block .music-button {
  margin: 2rem 0 0 2rem;
  background-color: #cccccc;
  border: 2px solid black;
  border-radius: 50%;
  width: clamp(100px, 10vw, 150px);
  height: clamp(100px, 10vw, 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}
.section#banner .title_block .music-button span:nth-child(1) {
  font-size: clamp(18px, 10vw, 2rem);
  margin-bottom: 20px;
}
.section#banner .title_block .music-button span:nth-child(2) {
  font-size: clamp(48px, 10vw, 5rem);
}
.section#banner .title_block .music-button:hover {
  background-color: #cccccc;
  transform: scale(1.05);
}
.section#banner .music-notes {
  display: none;
}
.section#banner .music-notes.show {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
  min-width: 300px;
  height: 200px;
  border: 0 solid #000;
  color: #cccccc;
}
.section#banner .music-notes.show .note {
  position: absolute;
  font-size: 35px;
  opacity: 0;
  animation: notes 2s infinite linear;
}
.section#banner .music-notes.show .note-1 {
  top: 60px;
  left: 0;
  animation-delay: 0.5s;
}
.section#banner .music-notes.show .note-2 {
  top: 30px;
  left: 30%;
  animation-delay: 1s;
}
.section#banner .music-notes.show .note-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}
.section#banner .music-notes.show .note-4 {
  top: 40px;
  left: 90%;
  animation-delay: 2s;
}
@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}
@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80%, 100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

.section {
  width: 100%;
  min-height: 100vh;
  padding: 10vh 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section .text-block {
  position: relative;
  z-index: 101;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(5, 5, 5, 0.1);
}
.section .text-block .number {
  font-family: "Rubik";
  font-size: 15em;
  font-weight: bold;
}
.section .text-block div.title, .section .text-block p {
  letter-spacing: 1px;
}
.section .text-block div.title {
  font: 500 clamp(1.5rem, 2vw, 1.875rem)/1.875rem Lato, sans-serif;
  margin-bottom: 25px;
}
.section .text-block p {
  font: 400 clamp(1rem, 1vw, 1.2rem)/1.5rem Lato, sans-serif;
}
.section .decorate {
  position: absolute;
}

#contact table {
  width: min(800px, 90vw);
  padding-top: 2em;
  font-size: 2em;
  margin: auto;
}
#contact table td {
  padding-block: 0.5em;
  border-bottom: 1px dashed #445022;
}
#contact table td:nth-child(1) {
  text-align: left;
  font-weight: 500;
}
#contact table td:nth-child(2) {
  text-align: right;
  font-weight: 200;
}
#contact .sign {
  font-family: "Roboto", sans-serif;
  font-size: 10em;
}

#container3D {
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  #container3D {
    position: absolute;
  }
}

/*# sourceMappingURL=styles.css.map */
